<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>logge ind på hjemmesiden</title>
    <link rel="stylesheet" href="/static/main.css" th:href="@{/main.css}">
</head>
<body>
    <h2>Log ind på hjemmesiden</h2>

    <form th:action="@{/login}" method="post">
        <label>Brugernavn:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Log ind</button>
    </form>

<p>Har du ikke en konto?
    <a href="/register" th:href="@{/register}">Opret bruger her</a>
</p>
</body>
</html>