<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mine projekter</title>
    <link rel="stylesheet" th:href="@{/main.css}">

</head>
<body>

<form th:action="@{/logout}" method="get">
    <button type="submit">Log ud</button>
</form>


<h1>Hej <span th:text="${username}"></span></h1>
<div th:if="${success}" th:text="${success}" style="color: green"></div>
<h2>Dine projekter</h2>

<a th:href="@{/projects/create}"> + Opret nyt projekt</a>

<table>
    <tr>

        <th>Projekt Navn</th>
        <th>Beskrivelse</th>
        <th>Estimerede Timer</th>
        <th>Deadline</th>
        <th>Handlinger</th>
    </tr>

    <tr th:each="project : ${projects}">
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.estimatedHour}"></td>
        <td th:text="${project.deadline}"></td>
        <td>
            <a th:href="@{/projects/{projectId}/details(projectId=${project.projectId})}">Se delprojekter</a> |

            <form th:action="@{/projects/delete/{projectId}(projectId=${project.projectId})}" method="post" style="display:inline;">
                <button type="submit" class="link-button" onclick="return confirm('Er du sikker på, at du vil slette projektet?')">Slet</button>
            </form> |

            <details style="display:inline;">
                <summary class="edit-summary" style="cursor:pointer;"> Rediger</summary>

                <form th:action="@{/projects/{projectId}/update(projectId=${project.projectId})}" method="post" style="margin-top:10px">

                    <label>Navn</label>
                    <input type="text" name="name" th:value="${project.name}" required>

                    <label>Beskrivelse</label>
                    <input type="text" name="description" th:value="${project.description}">

                     <label>Deadline</label>
                    <input type="date" name="deadline" th:value="${project.deadline}" required>

                    <label>Estimerede timer</label>
                    <input type="number" name="estimatedHour" th:value="${project.estimatedHour}" step="0.5" required>

                    <button type="submit">Gem ændringer</button>
                </form>
            </details>
        </td>
    </tr>
</table>

</body>
</html>