<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Opret nyt projekt</title>
    <link rel="stylesheet" th:href="@{/project.css}">
</head>
<body>
<h1>Opret nyt projekt</h1>

<div class="form-container">

    <div th:if="${success}" th:text="${success}" style="color: green"></div>

    <section class="create-section">
  <form th:action="@{/projects/create}" th:object="${new_project}" method="post">
      <label>Projekt navn:</label><br>
      <input type="text" th:field="*{name}" placeholder="Skriv projektets navn" required><br><br>

      <label>Beskrivelse:</label><br>
      <textarea th:field="*{description}" placeholder="Skriv en kort beskrivelse"></textarea> <br><br>

      <label>Deadline:</label><br>
      <input type="date" th:field="*{deadline}" required><br><br>

      <label>Estimeret tidsforbrug:</label><br>
      <input type="number" th:field="*{estimatedHour}" step="0.5" required> <span>timer</span><br><br>

          <div class="form-group">
              <label>Tildel medarbejdere til projektet:</label>
              <div class="checkboxes">
                  <label th:each="emp : ${employees}">
                      <input type="checkbox" name="userIds" th:value="${emp.userId}">
                      <span th:text="${emp.name}"></span>
                  </label>
              </div>
          </div>

          <button type="submit" class="header-buttons"> Opret projekt </button>
  </form>
</section>
    <a th:href="@{/projects}">Tilbage til projekter</a>

</div>
</body>
</html>
