<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<h1>Opret nyt delprojekt</h1>
<section>
    <form th:action="@{/subprojects/create/{projectId}}" th:object="${new_subproject}" method="post">
        <label>Delprojekt titel:</label><br>
        <input type="text" th:field="*{name}" placeholder="Skriv delprojektets titel" required><br><br>

        <label>Beskrivelse:</label><br>
        <textarea th:field="*{description}" placeholder="Skriv en kort beskrivelse"></textarea> <br><br>

        <label>Deadline:</label><br>
        <input type="date" th:field="*{deadline}" required><br><br>

        <label>Estimerede tidsforbrug :</label><br>
        <input type="number" th:field="*{estimatedHour}" step="0.5" required> <span>timer</span><br><br>

        <button type="submit"> Opret delprojekt </button><br><br>

    </form>

    <a th:href="@{/projects/{projectId}(projectId=${projectId})}">Tilbage til projektet</a>
</section>

<p th:if="${success}" th:text="${success}" style="color: green"></p>
</body>
</html>